body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* ------------------------------------------------------------------- */
/* Styling for dashboard */
#tablist {
  margin-top: 0.5em;
}

#movAvg {
  margin-left: 1em;
}

#dateSelectionButtons > .btn {
  margin: 0.5em 0.5em;
}

#dateControlButtons > .btn {
  margin: 0.5em 0.5em;
}

.kpi {
  display: inline-block;
  border-style: dotted;
  border-width: thin;
}
/* ------------------------------------------------------------------- */

