body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* ------------------------------------------------------------------- */
/* Temporary styling for prototype */ 
.dateSelectionButtons > .btn {
  margin: auto 0.5em;
}

.kpi {
  display: inline-block;
  border-style: dotted;
  border-width: thin;
}
/* ------------------------------------------------------------------- */

